.button {
    -fx-font-family: fantasy;
    -fx-text-fill: #FF4F32;
    -fx-font-weight: 600;
    -fx-background-color: #32e2ff;
}

/* FIXME: background doesn't change */
body {
    -fx-background-color: #aeff32;
}